<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Results</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>This is a test</h1>



        <br>
        <br>

        <form action="/customers" method="post">
            <table>
                <tr><td>First Name: </td><td><input type="text" name="firstName"></tr>
                <tr><td>Last Name: </td><td><input type="text" name="lastName"></tr>
                <tr><td>Email: </td><td><input type="text" name="email"></tr>
                <tr><td>Date Of Birth: </td><td><input type="date" name="dateOfBirth"></tr>
                <tr><td></td><td><input type="submit" name="add"></tr>
            </table>
        </form>

        <!--ask about id thing-->
        <form action="/customers/autos" method="post">
            <table>
                <tr><td>model: </td><td><input type="text" name="model"></tr>
                <tr><td>autoYear: </td><td><input type="number" name="autoYear"></tr>
                <tr><td>make: </td><td><input type="text" name="make"></tr>
                <tr><td>numberOfAccidents: </td><td><input type="number" name="numberOfAccidents"></tr>
                <tr><td>CustomerId: </td><td><input type="number" name="customerId"></tr>
                <tr><td></td><td><input type="submit" name="add"></tr>
            </table>
        </form>
    </body>
</html>